#
# public methods
#

snippet pubf
public function $1($2): $3
{
	$4
}
endsnippet

snippet pubsf
public static function $1($2): $3
{
	$4
}
endsnippet

#
# private methods
#

snippet prif
private function $1($2): $3
{
	$4
}
endsnippet

snippet prisf
private static function $1($2): $3
{
	$4
}
endsnippet

#
# protected methods
#

snippet prof
protected function $1($2): $3
{
	$4
}
endsnippet

snippet prosf
protected static function $1($2): $3
{
	$4
}
endsnippet
